[Desktop Entry]
Name=Plexamp
Exec=org.flatpak.Plexamp
Terminal=false
Type=Application
Icon=org.flatpak.Plexamp
StartupWMClass=plexamp
X-AppImage-Version=4.6.2
Comment=The best little audio player on the planet
Categories=AudioVideo;
